.vscode/
.zcache
*.ipynb_*
DailyExpensesTrackerv1
DailyExpensesTrackerv2
MathPy
others
html
graph
routineBaiust/A. Triangle.py
routineBaiust/A.py
routineBaiust/B. Sort and Print.py
routineBaiust/test.py
